<div class="container">
  
  <div class="row">
    <h2><%= @article.title %></h2>
  </div>
  
  <div class="row">
  <div class="col-md-6 col-sm-12">
    <%= image_tag(@article.image_url) %>
  </div>
  <div class="col-md-6 col-sm-12">
    <p><%= @article.description %></p>
    <h5>Created: <%= time_ago_in_words(@article.created_at) %> ago</h5>
    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you shure?"} %>
  </div>
  
    </div>

</div>
