<div id="page-content">
  <div class="container" id="home-container">

    <div class="row"> 
      <div class="jumbotron text-center">
        <h1 class="display-4">Aplix!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-dark btn-lg" href="#" role="button">Sign up!</a>
      </div>
    </div>

    <div class="row">
      <% @articles.each do |article| %>
        <div class="col-6 col-md-4">
          <p><%= image_tag(article.image_url) %></p>
          <h3><%= article.title %></h3>
          <p><%= article.description %></p>
          <p><%= link_to 'Show', article_path(article) %></p>
        </div>
      <% end %>
    </div>

  </div>
</div>
<%= render 'layouts/footer' %>